<!DOCTYPE html>

<html>
  <head>
	  <script type="text/javascript" src="dist/bundle.js" charset="utf-8"></script>
  </head>

  <body ng-app='WikiApp' ng-controller="myCtrl">
  <div class="wiki-app">
	  <div class='search'>
		  <a class="search__random-article href" href='https://en.wikipedia.org/wiki/Special:Random' target="_blank">
			  Click here for a random article
		  </a>
			  <form class="search-form" ng-submit="search()">
				  <input class="search-form__pattern" type="text" ng-model="pattern">
				  <button class="search-form__close-button" type='reset' ng-click='toggleForm()'></button>
			  </form>
		  <p>{{load}}</p>
	  </div>
	  <div>
		  <ul class='results'>
			  <li class="results__item" ng-repeat="result in results">
				  <a class="results__item-href href" ng-href="{{result.page}}" target="_blank">
					  <p class='results__item-header'>{{result.title}}</p>
					  <p class='results__item-text'>{{result.body}}</p>
				  </a>
			  </li>
		  </ul>
	  </div>
  </div>
  </body>
</html>
